/* Navbar.css */
.navbar-custom {
  background-color: #1C2E35;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-container {
  display: flex;
  align-items: center;
}

.brand-text {
  font-weight: bold;
}

.nav-link-custom {
  padding: 0.5rem 1rem;
  color:white;
}

.btn-custom {
  background-color: #5AE4A7;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.btn-custom:hover {
  background-color: #5AE4A7;
  color: white;
}
.navbar-custom .nav-link-custom {
  color: white !important;
}
.btn-login{
  background-color: #ffffff !important; 
  color:#5AE4A7 !important;
  
}